# === Результаты сборки (Maven / Gradle / jpackage) ===
target/
dist/
out/
build/
*.jar
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# === Встроенные среды выполнения Java (JRE/JDK) ===
# Именно эти папки забили коммит на 180+ МБ!
jre/
jre_win/
jre_linux/
jre_mac/
*.zip
*.tar.gz

# === Локальные базы данных и лог-файлы ===
*.db
*.sqlite
*.log

# === Настройки IDE ===
.kotlin
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Операционные системы ###
.DS_Store
Thumbs.db